@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

::-webkit-scrollbar {
  @apply w-2
}

::-webkit-scrollbar-track {
  @apply bg-white/10;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/40 hover:bg-white/80
}